<html>



<body>
    <div class="grid-container">
        <div class="header">
          <h2>
            <span >
              
            </span>
          </h2>
        </div>
        
        <div class="left" style="background-color:#aaa;">
        
          <span>
            
            
          </span>
<h2>{{highBid}}</h2>//a_id
          
        </div>
        <div class="middle" style="background-color:#bbb;">
        
            <form #addbidForm  (ngSubmit)="onSubmit(addbidForm)">
          
                  <div class="form-group">
                    <input  type="hidden"  class="form-control" #A="ngModel" name='a_id'  [(ngModel)]="a_id" > 
                  </div>
                  <div class="form-group">
                    <label>your NIC</label>
                    <input  #b="ngModel" name='bidderNIC'  [(ngModel)]="bidderNIC" type="text" class="form-control">
                  </div>

                  <div class="form-group">
                    <label> Your Value</label>
                    <input  #c="ngModel" name='bidValue'  [(ngModel)]="bidValue" type="number" class="form-control">
                  </div>


                   <button class="btn btn-primary" type="reset"click="resetForm(addbidForm)">Reset </button>
                  <button class="btn btn-primary" type="submit"> submit</button>
</form>
        
        
        
  </div>  
        <div class="right" style="background-color:#ccc;">
        
        <app-counter #counter></app-counter>
        
        
        
        </div>
        
        <div class="footer">
          <p>Footer</p>
        </div>
      </div>
      
      </body>






</html>

