<html>
    <header>
        <h2 align="center"> All ongoing Auctions a</h2>
    </header>
    <body>

        <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col" class="table-success">Town</th>
                <th scope="col" class="table-success">Auction Name</th>
                <th scope="col" class="table-success">Product Name</th>
                <th scope="col" class="table-success">Quantity</th>
                <th scope="col" class="table-success"> Minimum Price</th>
                <th scope="col" class="table-success">Bid Now</th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let auc of list">
                <tr>
                
                <td>{{auc.harvestVillage}}</td>
                <td>{{auc.auctionOwner}}</td>
                <td>{{auc.productName}}</td>
                <td>{{auc.Quantity}}</td>
                <td>{{auc.minimumPrice}}</td>
                <td><button (click)="onClick(auc._id)"> Bidnow</button></td>
                </tr>
                </ng-container>
            </tbody>
          </table>


        















    </body>
</html>
