<html>
<body>

  <div class="grid-container">

    <div class="header">

      <div>

          <div class="left" style="background-color:aqua;">Create your Auction</div>

          

              <div class="col-md-6 col-md-offset-6">
    <form [formGroup]="auctionForm"     (ngSubmit)="onSubmit(auctionForm)">
    
    <div class="form-group">
      <input formControlName="_id" type="hidden" class="form-control">
    </div>

    <div class="form-group">
     ` <label>Your Town</label>
       <input formControlName="harvestVillage" type="text" class="form-control">
      
    </div>

    
    <div class="form-group">
    <label> Auction Owner</label>
    <input formControlName="auctionOwner" type="text" class="form-control">
  
    </div>

    <div class="form-group">
      <label>Product Name</label>
      <input  formControlName="productName" type="text" class="form-control">

    </div>

    <div class="form-group">
        <label>Quantity (in Kg)  or (in numbers)</label>
        <input  formControlName="Quantity" form type="number" class="form-control">
      </div>

    <div class="form-group">
      <label>Minimum Price (in Rs.)</label>
      <input  formControlName="minimumPrice" type="number" class="form-control">
    </div>

    <div class="form-group">
      <label>Harvesting Date</label>
      <input formControlName="harvestingDate" type="date" class="form-control">
    </div>
         <button class="btn btn-primary" type="reset" (click)="resetForm(auctionForm)">Reset</button>
        <button class="btn btn-primary" type="submit">Submit</button>
    
      </form>
    </div>
  


</div>
</div>

  </div>
  
</body>


</html>

<router-outlet></router-outlet>